<div id="cont-404">
    <h2>ERROR 404: Page not found in the Universe</h2>
    <div class="stars">
        <img class="star" src="/img/planets/star.png">
        <img class="star" src="/img/planets/star.png">
        <img class="star" src="/img/planets/star.png">
        <img class="star" src="/img/planets/star.png">
        <img class="star" src="/img/planets/star.png">
    </div>

    <div class="rocket-cont clearfix col-md-offset-4 col-md-3">
        <img class='alien' src="/img/planets/alien.png">
    </div>
</div>