<div class="content col-xs-12 float-none">
    <div class="article_info col-md-11 col-xs-12">
        <span class='circle_image' style="background-image: url('{{$root.apiUrl}}/public/uploads/{{article.image}}')">
            <span class="frame"></span>
        </span>
        <!--<span class='circle_image -back-shadow'></span>-->
        <div class="author_and_date col-md-12">
            <div class="author col-sm-6"  data-staff_id="{{article.author.id}}">
                <div class="author_image" style="background-image: url('{{$root.apiUrl}}/public/uploads/{{article.author.image}}')">
                </div>
                <span class="author_name">
                    {{article.author.firstname}} {{article.author.lastname}}
                </span>
            </div>
            <div class="col-sm-6 date text-right">{{article.date}}</div>
        </div>
        <div class="text-content">
            <div class="col-xs-12 clearfix float-none">
                <h2 class="text-center">{{article.title}}</h2>
                <h4 class="text-center description">
                    {{article.description}}
                </h4>
                <input type="hidden" id="category_id" ng-value="article.type_id"/>
                <p class="description" ng-bind-html="article.text | trusted">
                </p>
            </div>
            <div class="col-xs-12 float-none category_link">
                Categegory: <a href="/articles/byCategory/{{article.type_id}}">{{article.category.name}}</a>
            </div>
        </div>
        <!-----------------Disqus------------------------>
        <div class="col-md-12 float-none">
            <div id="disqus_thread"></div>
            <script>
//                setTimeout(function () {
//                    $( '.category_'+ $('#category_id').val()).addClass('active');
//                },150);

                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
                /*
                 var disqus_config = function () {
                 this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                 this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                 };
                 */
                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = '//physics-1.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
        <!--------------------------------------------------->
        <span class='menu_border'></span>
    </div>
</div>

