<div class="main_content col-lg-11 float-none">
    <div class="container col-md-12 mt-50">
        <h2 >
            <span ng-if="category_id == false">
                <span>All articles</span>
            </span>
            <span ng-if="category_id != false">
                <span>{{categorynames[category_id]}}</span>
            </span>
            <span class='menu_border'></span>
        </h2>
        <div class="articles_info_cont col-lg-12" >
            <span ng-if="allArticles != 'false'">
                 <short-info ng-repeat="post in allArticles"  size="4" post="post"></short-info>
            </span>
            <span ng-if="allArticles == 'false'">
                <h3>There is no articles anymore!</h3>
            </span>
        </div>
        <pagination count="linksCount" active-link="activeLink" link="paginationLink"></pagination>
    </div>
</div>