<div class="main_content col-lg-8 col-md-10 col-sm-11" >
    <div class="container col-md-12 mt-50">
        <h2 >
            <!--<div class="arrows">-->
            <!--</div>-->
            <span>Contact</span>
            <span class='menu_border'></span>
        </h2>
        <div class="articles_info_cont col-xs-12">
            <div class="address">{{contact.location}}</div>
            <div class="email">{{contact.email}}</div>
            <div class="phone">{{contact.phone}}</div>
        </div>
    </div>
</div>