<div class="main_content col-lg-8 col-md-10 col-sm-11" >
    <div class="container col-md-12 mt-50">
        <h2 >
            <!--<div class="arrows">-->
            <!--</div>-->
            <span>Top articles</span>
            <span class='menu_border'></span>
        </h2>
        <div class="articles_info_cont col-xs-12">
           <slick id="my-slick" toparticles="topArticles"></slick>
        </div>
    </div>
    <div class="container col-md-12" ng-repeat="category in categories">
        <h2 >
            <!--<div class="arrows">-->
            <!--</div>-->
            <span> {{category.name}}</span>
            <span class='menu_border'></span>
        </h2>
        <div class="articles_info_cont col-xs-12">
            <short-info ng-repeat="post in posts[category.type_id]" size="6" post="post" ></short-info>
        </div>
        <div class="col-md-12 mt-20">
            <div class="button-cont row absolute col-xs-12">
                <a class="site-btn bottom" href="/articles/byCategory/{{category.type_id}}">
                    <span class="btn-border -top"></span>
                    <span class="btn-border -right"></span>
                    <span class="btn-border -bottom"></span>
                    <span class="btn-border -left"></span>
                    <span class="button-text">All</span>
                </a>
            </div>
        </div>

    </div>
</div>
