body {
  margin: 0px;
  padding: 0px;
  background: #2D3A4B;
  letter-spacing: 1px;
  font-family: 'Oswald', Open Sans, sans-serif, Source Sans Pro, Roboto;
  font-weight: 200;
}
body::-webkit-scrollbar {
  width: 5px;
  z-index: 200;
  background-color: #1c293a;
}
body::-webkit-scrollbar-thumb {
  background: -moz-linear-gradient(to bottom, #00BCD4 0%, #1976D2 100%);
  background: -webkit-linear-gradient(to bottom, #00BCD4 0%, #1976D2 100%);
  background: -o-linear-gradient(to bottom, #00BCD4 0%, #1976D2 100%);
  background: -ms-linear-gradient(to bottom, #00BCD4 0%, #1976D2 100%);
  background: linear-gradient(to bottom, #00BCD4 0%, #1976D2 100%);
}
.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3000;
}
.navigation .menu_border {
  -webkit-box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
}
#nav_menu {
  width: 100%;
  height: 60px;
  z-index: 500;
  line-height: 60px;
  background: #2D3A4B;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#nav_menu.nav_medium {
  height: 40px;
  line-height: 40px;
}
#cont-404 {
  width: 100%;
  color: #DBE0E6;
  text-align: center;
}
#cont-404 h2 {
  margin: 0px;
}
#cont-404 .rocket-cont {
  z-index: 200;
  overflow: hidden;
}
#cont-404 .stars {
  position: relative;
  width: 100%;
  left: 0;
}
#cont-404 .stars .star {
  position: absolute;
  z-index: -1;
}
#cont-404 .stars .star:first-child {
  top: 100px;
  left: 10%;
  width: 50px;
  height: 50px;
}
#cont-404 .stars .star:nth-child(2) {
  top: 300px;
  left: 70%;
  width: 30px;
  height: 30px;
}
#cont-404 .stars .star:nth-child(3) {
  top: 180px;
  left: 60%;
  width: 40px;
  height: 40px;
}
#cont-404 .stars .star:nth-child(4) {
  top: 60px;
  left: 75%;
  width: 35px;
  height: 35px;
}
#cont-404 .stars .star:nth-child(5) {
  top: 30px;
  left: 20%;
  width: 25px;
  height: 25px;
}
#cont-404 .alien {
  margin-top: -40px;
  width: 100%;
  max-width: 300px;
  -webkit-transform: rotate(55deg);
  -moz-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
  transform: rotate(55deg);
  z-index: 1000;
}
#nav_content:not(.sub_nav_content) {
  width: 780px;
  height: 90%;
  margin: auto;
  margin-top: 0px;
  list-style: none;
  text-align: center;
}
#nav_content:not(.sub_nav_content) > li {
  position: relative;
  width: 80px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  color: #DBE0E6;
  cursor: pointer;
  letter-spacing: 2px;
  font-family: 'Oswald', Open Sans, sans-serif, Source Sans Pro, Roboto;
  font-weight: 400;
  -webkit-transition: text-shadow 0.5s, color 0.5s;
  -moz-transition: text-shadow 0.5s, color 0.5s;
  -ms-transition: text-shadow 0.5s, color 0.5s;
  transition: text-shadow 0.5s, color 0.5s;
}
#nav_content:not(.sub_nav_content) > li .sub_nav_content {
  position: absolute;
  list-style: none;
  padding: 5px 0px 0px;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#nav_content:not(.sub_nav_content) > li .sub_nav_content > li {
  line-height: 10px;
  padding: 10px 10px 10px 13px;
  white-space: nowrap !important;
  text-transform: capitalize;
  background: rgba(45, 58, 75, 0.85);
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  transition: background 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}
#nav_content:not(.sub_nav_content) > li .sub_nav_content > li:hover,
#nav_content:not(.sub_nav_content) > li .sub_nav_content > li.active {
  border-left: 3px solid #1976D2;
  padding-left: 10px;
  background: rgba(28, 41, 58, 0.95);
  color: #fff;
  text-shadow: 3px 3px 1px #252525;
}
#nav_content:not(.sub_nav_content) > li a {
  position: relative;
  display: block;
  color: inherit !important;
  text-decoration: none;
}
#nav_content:not(.sub_nav_content) > li .btn-border {
  position: absolute;
  display: block;
}
#nav_content:not(.sub_nav_content) > li .btn-border.-left,
#nav_content:not(.sub_nav_content) > li .btn-border.-right {
  width: 2px;
  height: 0px;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
}
#nav_content:not(.sub_nav_content) > li .btn-border.-right {
  top: 15%;
  right: 0;
  background: -moz-linear-gradient(to bottom, #06ACD3 0%, #0D99D3 100%);
  background: -webkit-linear-gradient(to bottom, #06ACD3 0%, #0D99D3 100%);
  background: -o-linear-gradient(to bottom, #06ACD3 0%, #0D99D3 100%);
  background: -ms-linear-gradient(to bottom, #06ACD3 0%, #0D99D3 100%);
  background: linear-gradient(to bottom, #06ACD3 0%, #0D99D3 100%);
}
#nav_content:not(.sub_nav_content) > li .btn-border.-left {
  bottom: 15%;
  left: 0;
  background: -moz-linear-gradient(to top, #1287D2 0%, #1976D2 100%);
  background: -webkit-linear-gradient(to top, #1287D2 0%, #1976D2 100%);
  background: -o-linear-gradient(to top, #1287D2 0%, #1976D2 100%);
  background: -ms-linear-gradient(to top, #1287D2 0%, #1976D2 100%);
  background: linear-gradient(to top, #1287D2 0%, #1976D2 100%);
}
#nav_content:not(.sub_nav_content) > li:hover {
  background: #2D3A4B;
}
#nav_content:not(.sub_nav_content) > li:hover > .sub_nav_content {
  visibility: visible;
  opacity: 1;
}
#nav_content:not(.sub_nav_content) > li.active .-left,
#nav_content:not(.sub_nav_content) > li:hover .-left,
#nav_content:not(.sub_nav_content) > li.active .-right,
#nav_content:not(.sub_nav_content) > li:hover .-right {
  height: 45%;
}
#nav_content:not(.sub_nav_content) > li.active > a,
#nav_content:not(.sub_nav_content) > li:hover > a {
  color: #fff !important;
  text-shadow: 3px 3px 1px #252525;
}
#nav_content:not(.sub_nav_content) > li:nth-child(1) {
  margin-left: 0px;
}
/*___________________________________mobile menu________________________________________*/
.mobile_menu_cont {
  position: fixed;
  top: 0;
  left: -225px;
  width: 220px;
  height: 100%;
  background-color: #2D3A4B;
  overflow-x: visible;
  padding-bottom: 40px;
  z-index: 9000;
  bottom: 0;
  display: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.mobile_menu_cont .right-border {
  position: absolute;
  display: block;
  width: 5px;
  height: 100%;
  top: 0;
  right: -5px;
  background: -moz-linear-gradient(to top, #00BCD4 0%, #1976D2 100%);
  background: -webkit-linear-gradient(to top, #00BCD4 0%, #1976D2 100%);
  background: -o-linear-gradient(to top, #00BCD4 0%, #1976D2 100%);
  background: -ms-linear-gradient(to top, #00BCD4 0%, #1976D2 100%);
  background: linear-gradient(to top, #00BCD4 0%, #1976D2 100%);
}
.mobile_menu_cont .mobile_menu {
  position: relative;
  width: 100%;
  max-height: 100%;
  float: left;
  margin-top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
.mobile_menu_cont .mobile_menu::-webkit-scrollbar {
  width: 5px;
  z-index: 200;
  background-color: #1c293a;
}
.mobile_menu_cont .mobile_menu::-webkit-scrollbar-thumb {
  background: -moz-linear-gradient(to bottom, #00BCD4 0%, #1976D2 100%);
  background: -webkit-linear-gradient(to bottom, #00BCD4 0%, #1976D2 100%);
  background: -o-linear-gradient(to bottom, #00BCD4 0%, #1976D2 100%);
  background: -ms-linear-gradient(to bottom, #00BCD4 0%, #1976D2 100%);
  background: linear-gradient(to bottom, #00BCD4 0%, #1976D2 100%);
}
.mobile_menu_cont .mobile_menu ul {
  position: relative;
  width: 100%;
  float: left;
  margin: 0px;
  padding: 0px;
  z-index: 11;
}
.mobile_menu_cont .mobile_menu ul li:not(.mob_with_sub) {
  display: block;
  height: 40px;
  cursor: pointer;
  padding-left: 3px;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  transition: background 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}
.mobile_menu_cont .mobile_menu ul li:not(.mob_with_sub) a {
  display: block;
  line-height: 40px;
  padding-left: 15px;
  text-decoration: none;
  color: #DBE0E6;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}
.mobile_menu_cont .mobile_menu ul li:not(.mob_with_sub):not(.mob_with_sub):hover,
.mobile_menu_cont .mobile_menu ul li:not(.mob_with_sub).active {
  background: #1c293a;
  padding-left: 0px;
  border-left: 3px solid #1976D2;
}
.mobile_menu_cont .logo {
  position: relative;
  width: 98%;
  left: 1%;
  top: 10px;
}
.mobile_menu_cont .mobile_open_but {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 10px;
  right: -65px;
  background: #177ad2;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}
.mobile_menu_cont .mobile_submenu {
  position: relative;
  width: 100%;
  float: left;
  margin: 0px;
  padding: 0px;
  z-index: 11;
}
.mobile_menu_cont .mobile_submenu_button {
  display: block;
  height: 40px;
  padding-left: 33px;
  line-height: 40px;
  text-decoration: none;
  color: #DBE0E6;
  font-size: 14px;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  transition: background 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}
.mobile_menu_cont .mobile_submenu_button:hover {
  color: #fff;
}
.mobile_menu_cont .mobile_submenu_button:not(.mobile_submenu_active):hover,
.mobile_menu_cont .mobile_submenu_button.active {
  background: #1c293a;
  padding-left: 30px;
  border-left: 3px solid #1976D2;
}
.mobile_menu_cont .mob_with_sub {
  height: auto;
}
.mobile_menu_cont .sub_open_button {
  position: absolute;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
  z-index: 50;
}
.mobile_menu_cont .sub_open_border {
  position: absolute;
  border-left: 1px solid #DBE0E6;
  top: 5px;
  left: 0px;
  height: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.mobile_menu_cont .sub_open_arrow {
  border: 0px solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-width: 7px;
  margin-left: -7px;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -ms-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
.mobile_menu_cont .sub_left_arrow {
  top: 35%;
  left: 62%;
  border-left-color: #DBE0E6;
}
.mobile_menu_cont .sub_top_arrow {
  top: 44%;
  left: 50%;
  border-top-color: #DBE0E6;
}
.cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2500;
  display: none;
}
/*____________________________________________________________________________________*/
/*______________________________MATERIAL BUTTON________________________________________*/
.material-design-hamburger a {
  display: block;
  border: none;
  background: none;
  outline: 0;
  top: 10px;
}
.material-design-hamburger__icon {
  padding: 28px 12px;
  cursor: pointer;
}
.material-design-hamburger__layer {
  display: block;
  width: 35px;
  height: 4px;
  background: white;
  position: relative;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}
.material-design-hamburger__layer:before,
.material-design-hamburger__layer:after {
  display: block;
  width: inherit;
  height: 4px;
  position: absolute;
  background: inherit;
  left: 0;
  content: '';
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}
.material-design-hamburger__layer:before {
  bottom: 250%;
}
.material-design-hamburger__layer:after {
  top: 250%;
}
.material-design-hamburger__icon--to-arrow {
  animation-name: material-design-hamburger__icon--slide;
  animation-fill-mode: forwards;
}
.material-design-hamburger__icon--to-arrow:before {
  animation-name: material-design-hamburger__icon--slide-before;
  animation-fill-mode: forwards;
}
.material-design-hamburger__icon--to-arrow:after {
  animation-name: material-design-hamburger__icon--slide-after;
  animation-fill-mode: forwards;
}
.material-design-hamburger__icon--from-arrow {
  animation-name: material-design-hamburger__icon--slide-from;
}
.material-design-hamburger__icon--from-arrow:before {
  animation-name: material-design-hamburger__icon--slide-before-from;
}
.material-design-hamburger__icon--from-arrow:after {
  animation-name: material-design-hamburger__icon--slide-after-from;
}
@keyframes material-design-hamburger__icon--slide {
  100% {
    transform: rotate(180deg);
  }
}
@keyframes material-design-hamburger__icon--slide-before {
  100% {
    transform: rotate(45deg);
    margin: 3% 37%;
    top: -9px;
    bottom: 200%;
    width: 75%;
  }
}
@keyframes material-design-hamburger__icon--slide-after {
  100% {
    transform: rotate(-45deg);
    margin: 3% 37%;
    top: 7px;
    width: 75%;
  }
}
@keyframes material-design-hamburger__icon--slide-from {
  0% {
    transform: rotate(-180deg);
  }
}
@keyframes material-design-hamburger__icon--slide-before-from {
  0% {
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
}
@keyframes material-design-hamburger__icon--slide-after-from {
  0% {
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
}
/*____________________________________________________________________________________*/
.menu_border {
  width: 100%;
  height: 5px;
  bottom: 0px;
  display: block;
  z-index: 500;
  background: -moz-linear-gradient(to right, #00BCD4 0%, #1976D2 100%);
  background: -webkit-linear-gradient(to right, #00BCD4 0%, #1976D2 100%);
  background: -o-linear-gradient(to right, #00BCD4 0%, #1976D2 100%);
  background: -ms-linear-gradient(to right, #00BCD4 0%, #1976D2 100%);
  background: linear-gradient(to right, #00BCD4 0%, #1976D2 100%);
}
#milkyway {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}
#milkyway .stars {
  position: fixed;
  width: 100%;
  height: 200%;
  background: url(../img/stars2.png);
}
#milkyway .planet {
  position: relative;
  display: block;
  width: 180px;
  height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
}
#milkyway .planet.mercury {
  margin-left: 85%;
  margin-top: 15%;
  background-image: url(../img/planets/mercury.png);
  z-index: 9;
  width: 90px;
  height: 90px;
}
#milkyway .planet.venus {
  margin-left: 10%;
  margin-top: -26%;
  background-image: url(../img/planets/venus.png);
  z-index: 8;
  width: 165px;
  height: 165px;
}
#milkyway .planet.earth {
  margin-left: 30%;
  margin-top: 20%;
  background-image: url(../img/planets/earth.png);
  z-index: 7;
}
#milkyway .planet.mars {
  margin-left: 70%;
  background-image: url(../img/planets/mars.png);
  z-index: 6;
  width: 120px;
  height: 120px;
}
#milkyway .planet.saturn {
  margin-left: 45%;
  background-image: url(../img/planets/saturn.png);
  z-index: 5;
  width: 520px;
  height: 520px;
}
#milkyway .planet.jupiter {
  margin-left: 70%;
  background-image: url(../img/planets/jupiter.png);
  z-index: 4;
  width: 310px;
  height: 310px;
}
#milkyway .planet.uranus {
  margin-left: 5%;
  background-image: url(../img/planets/uranus.png);
  z-index: 3;
  width: 350px;
  height: 350px;
}
#milkyway .planet.neptune {
  margin-left: 30%;
  background-image: url(../img/planets/neptune.png);
  z-index: 2;
  width: 210px;
  height: 210px;
}
#milkyway .planet.pluto {
  margin-left: 10%;
  background-image: url(../img/planets/pluto.png);
  z-index: 1;
  width: 80px;
  height: 80px;
}
#my-slick {
  margin-top: 40px;
  position: relative;
  height: 400px;
}
#my-slick .my-slick-item {
  position: relative;
  outline: none;
}
#my-slick .my-slick-item img {
  width: 100%;
  transform: translate(0, -50%);
  margin-top: 25%;
}
#my-slick .my-slick-item a {
  position: absolute;
  display: block;
  width: 100%;
  height: 35px;
  text-align: center;
  text-decoration: none;
  color: #DBE0E6;
  bottom: 0;
  padding-right: 30px;
  outline: none;
}
#my-slick .my-slick-item a span:not(.menu_border) {
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: block;
  background: rgba(45, 58, 75, 0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#my-slick .my-slick-item a span:not(.menu_border):hover {
  background: #2D3A4B;
}
#my-slick .slick-prev,
#my-slick .slick-next {
  z-index: 100;
}
.pagination {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}
.pagination .link-container {
  width: 210px;
  margin: auto;
}
.pagination .link-slide {
  position: relative;
  width: 145px;
  height: 25px;
  float: left;
  overflow: hidden;
}
.pagination .link-slide .slide-list {
  position: absolute;
  display: flex;
  top: 0px;
  height: 25px;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  transition: left 0.5s;
}
.pagination a {
  display: block;
  float: left;
  padding: 3px;
  min-width: 25px;
  height: 25px;
  color: #DBE0E6;
  text-decoration: none;
  border-radius: 50%;
  margin: 0px 2px;
  background: rgba(45, 58, 75, 0.8);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.pagination a.prev,
.pagination a.next {
  cursor: pointer;
  font-size: 25px;
  line-height: 12px;
  letter-spacing: 3px;
}
.pagination a.prev.invisible,
.pagination a.next.invisible {
  visibility: hidden;
}
.pagination a.prev.inactive,
.pagination a.next.inactive {
  cursor: default;
  opacity: 0.5;
}
.pagination a.next {
  letter-spacing: -1px;
}
.pagination a:hover:not(.inactive),
.pagination a.active {
  color: white;
  background: #2D3A4B;
}
#to-top {
  position: fixed;
  display: none;
  z-index: 2000;
  right: 40px;
  bottom: 40px;
  background: #2D3A4B;
  border: 1px solid #a8adb3;
  border-radius: 25px;
  padding: 5px;
  padding-left: 4px;
  cursor: pointer;
  color: #a8adb3;
  line-height: 0px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
}
#to-top img {
  width: 40px;
  height: 40px;
}
#to-top.pushed {
  bottom: 37px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.main_content {
  position: relative;
  margin: auto;
  height: auto;
  float: none;
  overflow: hidden;
}
.main_content .container {
  margin-top: 120px;
  margin-bottom: 60px;
  padding: 0 0 50px;
  background: rgba(219, 224, 230, 0.8);
  -webkit-box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.3);
}
.main_content .container h2 {
  position: relative;
  padding: 0px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
  height: 50px;
  line-height: 47px;
  width: 100%;
  text-transform: uppercase;
  background: #1c293a;
  color: #DBE0E6;
  letter-spacing: 3px;
  font-family: 'Oswald', Open Sans, sans-serif, Source Sans Pro, Roboto;
  font-weight: 300;
  -webkit-box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
}
.main_content .container h2 .menu_border {
  height: 3px;
}
.main_content .container .articles_info_cont {
  display: block;
  text-align: center;
}
.main_content .container .articles_info_cont .short_info {
  margin-top: 20px;
}
.main_content .container .articles_info_cont .short_info .info_cont {
  background: rgba(255, 255, 255, 0.75);
  margin-top: 75px;
  padding-bottom: 20px;
  height: 300px;
  overflow: hidden;
  -webkit-box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
}
.main_content .container .articles_info_cont .short_info .circle_image {
  position: absolute;
  left: 50%;
  margin-left: -75px;
  display: block;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  z-index: 1000;
}
.main_content .container .articles_info_cont .short_info .circle_image.-back-shadow {
  z-index: 0;
  width: 150px;
  height: 150px;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}
.main_content .container .articles_info_cont .short_info .frame {
  display: block;
  border-radius: 50%;
  border: 15px solid rgba(255, 255, 255, 0.35);
  width: 150px;
  height: 150px;
}
.main_content .container .articles_info_cont .short_info h3 {
  color: #2D3A4B;
  text-align: center;
  margin-top: 90px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: 'Oswald', Open Sans, sans-serif, Source Sans Pro, Roboto;
  font-weight: 200;
}
.main_content .container .articles_info_cont .short_info .description {
  color: #2D3A4B - #333333;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Oswald', Open Sans, sans-serif, Source Sans Pro, Roboto;
  font-weight: 300;
}
.main_content .container .articles_info_cont .short_info .menu_border {
  position: absolute;
  box-shadow: none;
  bottom: 0;
  left: 0;
}
.button-cont .site-btn {
  position: relative;
  display: table;
  text-align: center;
  text-decoration: none;
  margin: auto;
  background: rgba(45, 58, 75, 0.8);
  color: #DBE0E6;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  letter-spacing: 1px;
  font-family: 'Oswald', Open Sans, sans-serif, Source Sans Pro, Roboto;
  font-weight: 300;
}
.button-cont .site-btn .button-text {
  display: block;
  padding: 5px 14px 5px 14px;
  overflow: hidden;
}
.button-cont .site-btn .btn-border {
  position: absolute;
  display: block;
}
.button-cont .site-btn .btn-border.-top,
.button-cont .site-btn .btn-border.-bottom {
  width: 0px;
  height: 2px;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  transition: width 0.5s;
}
.button-cont .site-btn .btn-border.-top {
  top: 0px;
  left: 0px;
  background: -moz-linear-gradient(to right, #00BCD4 0%, #06ACD3 100%);
  background: -webkit-linear-gradient(to right, #00BCD4 0%, #06ACD3 100%);
  background: -o-linear-gradient(to right, #00BCD4 0%, #06ACD3 100%);
  background: -ms-linear-gradient(to right, #00BCD4 0%, #06ACD3 100%);
  background: linear-gradient(to right, #00BCD4 0%, #06ACD3 100%);
}
.button-cont .site-btn .btn-border.-bottom {
  bottom: 0px;
  right: 0px;
  background: -moz-linear-gradient(to left, #0D99D3 0%, #1287D2 100%);
  background: -webkit-linear-gradient(to left, #0D99D3 0%, #1287D2 100%);
  background: -o-linear-gradient(to left, #0D99D3 0%, #1287D2 100%);
  background: -ms-linear-gradient(to left, #0D99D3 0%, #1287D2 100%);
  background: linear-gradient(to left, #0D99D3 0%, #1287D2 100%);
}
.button-cont .site-btn .btn-border.-left,
.button-cont .site-btn .btn-border.-right {
  width: 2px;
  height: 0px;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
}
.button-cont .site-btn .btn-border.-right {
  top: 0;
  right: 0;
  background: -moz-linear-gradient(to bottom, #06ACD3 0%, #0D99D3 100%);
  background: -webkit-linear-gradient(to bottom, #06ACD3 0%, #0D99D3 100%);
  background: -o-linear-gradient(to bottom, #06ACD3 0%, #0D99D3 100%);
  background: -ms-linear-gradient(to bottom, #06ACD3 0%, #0D99D3 100%);
  background: linear-gradient(to bottom, #06ACD3 0%, #0D99D3 100%);
}
.button-cont .site-btn .btn-border.-left {
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(to top, #1287D2 0%, #1976D2 100%);
  background: -webkit-linear-gradient(to top, #1287D2 0%, #1976D2 100%);
  background: -o-linear-gradient(to top, #1287D2 0%, #1976D2 100%);
  background: -ms-linear-gradient(to top, #1287D2 0%, #1976D2 100%);
  background: linear-gradient(to top, #1287D2 0%, #1976D2 100%);
}
.button-cont .site-btn:hover {
  background: #2D3A4B;
}
.button-cont .site-btn:hover .-top,
.button-cont .site-btn:hover .-bottom {
  width: 100%;
}
.button-cont .site-btn:hover .-left,
.button-cont .site-btn:hover .-right {
  height: 100%;
}
.page_content {
  position: relative;
  padding-top: 80px;
}
.article_info {
  position: relative;
  float: none;
  color: #2D3A4B;
  margin: 230px auto 50px;
  height: auto;
  background: rgba(255, 255, 255, 0.95);
  padding-bottom: 20px;
}
.article_info .category_link a {
  text-decoration: none;
  color: #7f919e;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.article_info .category_link a:hover {
  color: #2D3A4B;
}
.article_info .author_and_date {
  padding-top: 30px;
}
.article_info .date {
  line-height: 55px;
}
.article_info .author .author_image {
  position: relative;
  float: left;
  margin-top: 3px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 2px solid rgba(207, 207, 207, 0.7);
  border-radius: 50px;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.article_info .author .author_name {
  padding-left: 10px;
  line-height: 55px;
}
.article_info .menu_border {
  position: absolute;
  left: 0;
}
.article_info .circle_image {
  position: absolute;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  display: block;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  z-index: 1000;
  width: 400px;
  height: 400px;
}
.article_info .circle_image .frame {
  display: block;
  border-radius: 50%;
  border: 15px solid rgba(255, 255, 255, 0.35);
  width: 400px;
  height: 400px;
}
.article_info .text-content {
  position: relative;
  display: block;
  padding-top: 200px;
}
.footer {
  width: 100%;
  display: block;
  background: #2D3A4B;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: #DBE0E6;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0px;
  z-index: 100;
}
.footer .creator {
  margin-top: 10px;
  text-transform: initial;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.footer .creator:hover {
  text-shadow: 3px 3px 1px #252525;
  color: #fff;
}
.arrows {
  position: relative;
  width: 100%;
}
.arrows:before,
.arrows:after {
  margin-top: -10px;
  content: '';
  width: 0;
  display: block;
  position: absolute;
  height: 0;
  border-left: 15px solid transparent;
}
.arrows:before {
  margin-left: 1.3%;
  border-bottom: 10px solid #007890;
}
.arrows:after {
  right: 0;
  margin-right: 1.3%;
  border-left: none;
  border-bottom: 10px solid #00439f;
  border-right: 15px solid transparent;
}
footer {
  z-index: 5000;
}
footer .menu_border {
  -webkit-box-shadow: 4px -3px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px -3px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 4px -3px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 4px -3px 4px rgba(0, 0, 0, 0.3);
}
.absolute {
  position: absolute;
}
.bottom10 {
  bottom: 10px;
}
.bottom20 {
  bottom: 20px;
}
.left0 {
  left: 0 !important;
}
.float-none {
  float: none;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-20 {
  margin-top: 20px;
}
