@media (max-width: 940px) {
  .mobile_menu_cont {
    display: block !important;
  }
  .navigation {
    display: none;
  }
  .article_info {
    margin-top: 105px;
  }
  .article_info .circle_image {
    margin-top: -125px;
    margin-left: -125px;
    width: 250px;
    height: 250px;
  }
  .article_info .circle_image .frame {
    width: 250px;
    height: 250px;
  }
  .article_info .text-content {
    padding-top: 85px;
  }
}
@media (max-width: 770px) {
  .article_info .text-content {
    padding-top: 0px !important;
  }
  .article_info .text-content h2 {
    margin-top: 0px;
  }
  .article_info .author_and_date {
    display: table;
    margin: auto;
    width: initial !important;
    padding-top: 120px;
  }
  .article_info .author_and_date .author,
  .article_info .author_and_date .date {
    width: initial !important;
    float: left;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .article_info {
    margin-top: 70px;
  }
  .article_info .circle_image {
    margin-top: -90px;
    margin-left: -90px;
    width: 180px;
    height: 180px;
  }
  .article_info .circle_image .frame {
    width: 180px;
    height: 180px;
  }
  .article_info .text-content {
    padding-top: 50px;
  }
  .author_and_date {
    padding-top: 90px !important;
  }
}
