@header_color: #2D3A4B;
@light_color: #DBE0E6;

//background: -webkit-linear-gradient(left, #de2534 0%,#f1c43e 16.6%,#bed1a3 33.2%,
//#50aa86 49.8%,#325bcf 66.4%, #a490bf 83%,#c54775 100%);

.font(@weight, @space: 1px) {
  letter-spacing: @space;
  font-family: 'Oswald', Open Sans, sans-serif, Source Sans Pro, Roboto;
  font-weight: @weight;
}

.none_user_select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.square_size(@size) {
  width: @size;
  height: @size;
}

.box_shadow(@shadow) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  -ms-box-shadow: @shadow;
  box-shadow: @shadow;
}

.transition_all(@time) {
  -webkit-transition: all @time;
  -moz-transition: all @time;
  -ms-transition: all @time;
  transition: all @time;
}

.transition(@prop) {
  -webkit-transition: @prop;
  -moz-transition: @prop;
  -ms-transition: @prop;
  transition: @prop;
}
.transform(@prop) {
  -webkit-transform: @prop;
  -moz-transform: @prop;
  -ms-transform: @prop;
  transform: @prop;
}

.gradient_bgr(@direction,@color1,@color2) {
  background: -moz-linear-gradient(to @direction, @color1 0%, @color2 100%);
  background: -webkit-linear-gradient(to @direction, @color1 0%, @color2 100%);
  background: -o-linear-gradient(to @direction, @color1 0%, @color2 100%);
  background: -ms-linear-gradient(to @direction, @color1 0%, @color2 100%);
  background: linear-gradient(to @direction, @color1 0%, @color2 100%);
}

body {
  margin: 0px;
  padding: 0px;
  background: @header_color;
  .font(200);

  &::-webkit-scrollbar {
    width: 5px;
    z-index: 200;
    background-color: @header_color - #111111;
  }

  &::-webkit-scrollbar-thumb {
    .gradient_bgr(bottom,#00BCD4, #1976D2);
  }
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3000;

  .menu_border {
    .box_shadow(4px 3px 4px rgba(0, 0, 0, 0.3));
  }
}

#nav_menu {
  width: 100%;
  height: 60px;
  z-index: 500;
  line-height: 60px;
  background: @header_color;
  .transition_all(0.5s);

  &.nav_medium {
    height: 40px;
    line-height: 40px;
  }
}

#cont-404{
  width: 100%;
  color: @light_color;
  text-align: center;

  h2{
    margin: 0px;
  }

  .rocket-cont{
    z-index: 200;
    overflow: hidden;
  }


  .stars{
    position: relative;
    width: 100%;
    left: 0;

    .star{
      position: absolute;
      z-index: -1;

      &:first-child{
        top: 100px;
        left: 10%;
        .square_size(50px);
      }

      &:nth-child(2){
        top: 300px;
        left: 70%;
        .square_size(30px);
      }

      &:nth-child(3){
        top: 180px;
        left: 60%;
        .square_size(40px);
      }

      &:nth-child(4){
        top: 60px;
        left: 75%;
        .square_size(35px);
      }

      &:nth-child(5){
        top: 30px;
        left: 20%;
        .square_size(25px);
      }
    }

  }

  .alien{
    margin-top: -40px;
    width: 100%;
    max-width:300px;
    .transform(rotate(55deg));
    z-index: 1000;
  }

}

#nav_content:not(.sub_nav_content) {
  width: 780px;
  height: 90%;
  margin: auto;
  margin-top: 0px;
  list-style: none;
  text-align: center;

  > li {
    position: relative;
    width: 80px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    color: @light_color;
    cursor: pointer;
    .font(400, 2px);
    @transitions: text-shadow 0.5s, color 0.5s;
    .transition(@transitions);

    .sub_nav_content {
      position: absolute;
      list-style: none;
      padding: 5px 0px 0px;
      text-align: left;
      visibility: hidden;
      opacity: 0;
      .transition(opacity 0.3s);

      > li {
        line-height: 10px;
        padding: 10px 10px 10px 13px;
        white-space: nowrap !important;
        text-transform: capitalize;
        background: fade(@header_color, 85%);
        .transition(background 0.5s);
        .transition(color 0.5s);

        &:hover, &.active {
          border-left: 3px solid #1976D2;
          padding-left: 10px;
          background: fade(@header_color - #111111, 95%);
          color: #fff;
          text-shadow: 3px 3px 1px #252525;
        }
      }
    }

    a {
      position: relative;
      display: block;
      color: inherit !important;
      text-decoration: none;
    }

    .btn-border {
      position: absolute;
      display: block;

      &.-left, &.-right {
        width: 2px;
        height: 0px;
        .transition(height 0.5s);
      }

      &.-right {
        top: 15%;
        right: 0;
        .gradient_bgr(bottom,#06ACD3, #0D99D3);
      }

      &.-left {
        bottom: 15%;
        left: 0;
        .gradient_bgr(top,#1287D2, #1976D2);
      }

    }

    &:hover {
      background: @header_color;

      > .sub_nav_content {
        visibility: visible;
        opacity: 1;
      }

    }

    &.active .-left, &:hover .-left, &.active .-right, &:hover .-right {
      height: 45%;
    }

    &.active > a, &:hover > a {
      color: #fff !important;
      text-shadow: 3px 3px 1px #252525;
    }

    &:nth-child(1) {
      margin-left: 0px;
    }
  }
}

/*___________________________________mobile menu________________________________________*/

.mobile_menu_cont {
  position: fixed;
  top: 0;
  left: -225px;
  width: 220px;
  height: 100%;
  background-color: @header_color;
  overflow-x: visible;
  padding-bottom: 40px;
  z-index: 9000;
  bottom: 0;
  display: none;
  .transition_all(0.3s);

  .right-border {
    position: absolute;
    display: block;
    width: 5px;
    height: 100%;
    top: 0;
    right: -5px;
    .gradient_bgr(top,#00BCD4, #1976D2);
  }

  .mobile_menu {
    position: relative;
    width: 100%;
    max-height: 100%;
    float: left;
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 5px;
      z-index: 200;
      background-color: @header_color - #111111;
    }

    &::-webkit-scrollbar-thumb {
      .gradient_bgr(bottom,#00BCD4, #1976D2);
    }

    ul {
      position: relative;
      width: 100%;
      float: left;
      margin: 0px;
      padding: 0px;
      z-index: 11;

      li:not(.mob_with_sub) {
        display: block;
        height: 40px;
        cursor: pointer;
        padding-left: 3px;
        .transition(background 0.5s);
        .transition(color 0.5s);

        a {
          display: block;
          line-height: 40px;
          padding-left: 15px;
          text-decoration: none;
          color: @light_color;
          .transition(color 0.5s);
        }

        &:not(.mob_with_sub):hover, &.active {
          background: @header_color - #111111;
          padding-left: 0px;
          border-left: 3px solid #1976D2;
        }
      }
    }
  }

  .logo {
    position: relative;
    width: 98%;
    left: 1%;
    top: 10px;
  }

  .mobile_open_but {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    right: -65px;
    background: #177ad2;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
  }

  .mobile_submenu {
    position: relative;
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    z-index: 11;
  }

  .mobile_submenu_button {
    display: block;
    height: 40px;
    padding-left: 33px;
    line-height: 40px;
    text-decoration: none;
    color: @light_color;
    font-size: 14px;
    .transition(background 0.5s);
    .transition(color 0.5s);

    &:hover {
      color: #fff;
    }

    &:not(.mobile_submenu_active):hover, &.active {
      background: @header_color - #111111;
      padding-left: 30px;
      border-left: 3px solid #1976D2;
    }

  }

  .mob_with_sub {
    height: auto;
  }

  //.mobile_menu ul li:not(.nohover):hover .sub_open_border{
  //  border-left: 1px solid #fff;
  //}
  //
  //.mobile_menu ul li:not(.nohover):hover .sub_left_arrow{
  //  border-left-color: #fff;
  //}
  //.mobile_menu ul li:not(.nohover):hover .sub_top_arrow{
  //  border-top-color: #fff;
  //}
  //
  //.mobile_menu ul li.nohover .sub_open_border{
  //  border-left: 1px solid #fff;
  //}
  //
  //.mobile_menu ul li.nohover .sub_left_arrow{
  //  border-left-color: #fff;
  //}
  //.mobile_menu ul li.nohover .sub_top_arrow{
  //  border-top-color: #fff;
  //}
  //
  //.mobile_menu ul li:not(.mob_with_sub):not(.nohover):hover a{
  //  color: #fff;
  //}
  //
  //.mobile_menu_selected a{
  //  color: #fff  !important;
  //  background: rgb(198, 26,26);
  //}

  .sub_open_button {
    position: absolute;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    z-index: 50;
  }

  .sub_open_border {
    position: absolute;
    border-left: 1px solid @light_color;
    top: 5px;
    left: 0px;
    height: 30px;
    .transition_all(0.5s);
  }

  .sub_open_arrow {
    border: 0px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-width: 7px;
    margin-left: -7px;
    .transition(border-color 0.5s);
  }

  .sub_left_arrow {
    top: 35%;
    left: 62%;
    border-left-color: @light_color;
  }

  .sub_top_arrow {
    top: 44%;
    left: 50%;
    border-top-color: @light_color;
  }

  //.menu_button_active > a{
  //  color: white !important;
  //}

}

.cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2500;
  display: none;
}

/*____________________________________________________________________________________*/

/*______________________________MATERIAL BUTTON________________________________________*/

.material-design-hamburger a {
  display: block;
  border: none;
  background: none;
  outline: 0;
  top: 10px;
}

.material-design-hamburger__icon {
  padding: 28px 12px;
  cursor: pointer;
}

.material-design-hamburger__layer {
  display: block;
  width: 35px;
  height: 4px;
  background: white;
  position: relative;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;

  &:before, &:after {
    display: block;
    width: inherit;
    height: 4px;
    position: absolute;
    background: inherit;
    left: 0;
    content: '';
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
  }

  &:before {
    bottom: 250%;
  }

  &:after {
    top: 250%;
  }

}

.material-design-hamburger__icon--to-arrow {
  animation-name: material-design-hamburger__icon--slide;
  animation-fill-mode: forwards;

  &:before {
    animation-name: material-design-hamburger__icon--slide-before;
    animation-fill-mode: forwards;
  }

  &:after {
    animation-name: material-design-hamburger__icon--slide-after;
    animation-fill-mode: forwards;
  }
}

.material-design-hamburger__icon--from-arrow {
  animation-name: material-design-hamburger__icon--slide-from;

  &:before {
    animation-name: material-design-hamburger__icon--slide-before-from;
  }

  &:after {
    animation-name: material-design-hamburger__icon--slide-after-from;
  }

}

@keyframes material-design-hamburger__icon--slide {
  0% {
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes material-design-hamburger__icon--slide-before {
  0% {
  }
  100% {
    transform: rotate(45deg);
    margin: 3% 37%;
    top: -9px;
    bottom: 200%;
    width: 75%;
  }
}

@keyframes material-design-hamburger__icon--slide-after {
  0% {
  }
  100% {
    transform: rotate(-45deg);
    margin: 3% 37%;
    top: 7px;
    width: 75%;
  }
}

@keyframes material-design-hamburger__icon--slide-from {
  0% {
    transform: rotate(-180deg);
  }
  100% {
  }
}

@keyframes material-design-hamburger__icon--slide-before-from {
  0% {
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}

@keyframes material-design-hamburger__icon--slide-after-from {
  0% {
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}

/*____________________________________________________________________________________*/

.menu_border {
  width: 100%;
  height: 5px;
  bottom: 0px;
  display: block;
  z-index: 500;
  .gradient_bgr(right,#00BCD4, #1976D2);
}

#milkyway {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;

  .stars {
    position: fixed;
    width: 100%;
    height: 200%;
    background: url(../img/stars2.png);
  }

  .planet {
    position: relative;
    display: block;
    width: 180px;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;

    &.mercury {
      margin-left: 85%;
      margin-top: 15%;
      background-image: url(../img/planets/mercury.png);
      z-index: 9;
      .square_size(90px);
    }

    &.venus {
      margin-left: 10%;
      margin-top: -26%;
      background-image: url(../img/planets/venus.png);
      z-index: 8;
      .square_size(165px);
    }

    &.earth {
      margin-left: 30%;
      margin-top: 20%;
      background-image: url(../img/planets/earth.png);
      z-index: 7;
    }

    &.mars {
      margin-left: 70%;
      background-image: url(../img/planets/mars.png);
      z-index: 6;
      .square_size(120px);
    }

    &.saturn {
      margin-left: 45%;
      background-image: url(../img/planets/saturn.png);
      z-index: 5;
      .square_size(520px);
    }

    &.jupiter {
      margin-left: 70%;
      background-image: url(../img/planets/jupiter.png);
      z-index: 4;
      .square_size(310px);
    }

    &.uranus {
      margin-left: 5%;
      background-image: url(../img/planets/uranus.png);
      z-index: 3;
      .square_size(350px);

    }

    &.neptune {
      margin-left: 30%;
      background-image: url(../img/planets/neptune.png);
      z-index: 2;
      .square_size(210px);
    }

    &.pluto {
      margin-left: 10%;
      background-image: url(../img/planets/pluto.png);
      z-index: 1;
      .square_size(80px);
    }
  }
}

#my-slick {
  margin-top: 40px;
  position: relative;
  height: 400px;

  .my-slick-item {
    position: relative;
    outline: none;

    img {
      width: 100%;
      transform: translate(0, -50%);
      margin-top: 25%;
    }

    a {
      position: absolute;
      display: block;
      width: 100%;
      height: 35px;
      text-align: center;
      text-decoration: none;
      color: @light_color;
      bottom: 0;
      padding-right: 30px;
      outline: none;

      span:not(.menu_border) {
        width: 100%;
        height: 30px;
        line-height: 30px;
        display: block;
        background: fade(@header_color, 80%);
        .transition_all(0.3s);

        &:hover {
          background: @header_color;
        }
      }
    }
  }

  .slick-prev, .slick-next {
    z-index: 100;
  }
}

.pagination {
  width: 100%;
  margin-top: 40px;
  text-align: center;

  .link-container {
    width: 210px;
    margin: auto;
  }

  .link-slide {
    position: relative;
    width: 145px;
    height: 25px;
    float: left;
    overflow: hidden;

    .slide-list {
      position: absolute;
      display: flex;
      top: 0px;
      height: 25px;
      .transition(left 0.5s);
    }
  }

  a {
    display: block;
    float: left;
    padding: 3px;
    min-width: 25px;
    height: 25px;
    color: @light_color;
    text-decoration: none;
    border-radius: 50%;
    margin: 0px 2px;
    background: fade(@header_color, 80%);
    .none_user_select();
    .transition_all(0.3s);

    &.prev, &.next {
      cursor: pointer;
      font-size: 25px;
      line-height: 12px;
      letter-spacing: 3px;

      &.invisible {
        visibility: hidden;
      }

      &.inactive {
        cursor: default;
        opacity: 0.5;
      }
    }
    &.next {
      letter-spacing: -1px;
    }

    &:hover:not(.inactive), &.active {
      color: white;
      background: @header_color;
    }
  }
}

#to-top {
  position: fixed;
  display: none;
  z-index: 2000;
  right: 40px;
  bottom: 40px;
  background: @header_color;
  border: 1px solid @light_color - #333333;
  border-radius: 25px;
  padding: 5px;
  padding-left: 4px;
  cursor: pointer;
  color: @light_color - #333333;
  line-height: 0px;
  font-size: 30px;
  .square_size(50px);
  .transition_all(0.1s);
  .box_shadow(3px 4px 4px rgba(0, 0, 0, 0.3));

  img {
    .square_size(40px);
  }

  &.pushed {
    bottom: 37px;
    .box_shadow(none);
  }
}

.main_content {
  position: relative;
  margin: auto;
  height: auto;
  float: none;
  //visibility: hidden;
  overflow: hidden;

  .container {
    //height: 600px;
    margin-top: 120px;
    margin-bottom: 60px;
    padding: 0 0 50px;
    background: fade(@light_color, 80%);
    .box_shadow(4px 5px 4px rgba(0, 0, 0, 0.3));

    h2 {
      position: relative;
      padding: 0px;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 0px;
      //margin-left: -5%;
      height: 50px;
      line-height: 47px;
      width: 100%;
      text-transform: uppercase;
      background: @header_color - #111111;
      color: @light_color;
      .font(300, 3px);
      .box_shadow(4px 3px 4px rgba(0, 0, 0, 0.3));

      .menu_border {
        height: 3px;
      }
    }

    .articles_info_cont {

      display: block;
      text-align: center;

      .short_info {

        margin-top: 20px;

        .info_cont {
          background: fade(#FFF, 75%);;
          margin-top: 75px;
          margin-top: 75px;
          padding-bottom: 20px;
          height: 300px;
          overflow: hidden;
          .box_shadow(4px 3px 4px rgba(0, 0, 0, 0.3));
        }
        .circle_image {
          position: absolute;
          left: 50%;
          margin-left: -75px;
          display: block;
          border-radius: 50%;
          background-position: center;
          background-size: cover;
          z-index: 1000;
          //.square_size(150px)

          &.-back-shadow {
            z-index: 0;
            width: 150px;
            height: 150px;
            .box_shadow(3px 3px 4px rgba(0, 0, 0, 0.3));
          }
        }
        .frame {
          display: block;
          border-radius: 50%;
          border: 15px solid fade(#fff, 35%);
          .square_size(150px);

        }

        h3 {
          color: @header_color;
          text-align: center;
          margin-top: 90px;
          text-transform: uppercase;
          .font(200, 1.5px);
        }

        .description {
          color: @header_color -#333333;
          text-align: center;
          .font(300);
        }

        .menu_border {
          position: absolute;
          box-shadow: none;
          bottom: 0;
          left: 0;
        }

      }
    }
  }

}

.button-cont {

  .site-btn {
    position: relative;
    display: table;
    text-align: center;
    text-decoration: none;
    margin: auto;
    background: fade(@header_color, 80%);
    color: @light_color;
    //border: 1px solid @light_color - #222222;
    text-transform: capitalize;
    cursor: pointer;
    .transition_all(0.5s);
    .font(300);

    .button-text {
      display: block;
      padding: 5px 14px 5px 14px;
      overflow: hidden;
    }

    .btn-border {
      position: absolute;
      display: block;

      &.-top, &.-bottom {
        width: 0px;
        height: 2px;
        .transition(width 0.5s);
      }

      &.-top {
        top: 0px;
        left: 0px;
        .gradient_bgr(right,#00BCD4, #06ACD3);
      }

      &.-bottom {
        bottom: 0px;
        right: 0px;
        .gradient_bgr(left,#0D99D3, #1287D2);
      }

      &.-left, &.-right {
        width: 2px;
        height: 0px;
        .transition(height 0.5s);
      }

      &.-right {
        top: 0;
        right: 0;
        .gradient_bgr(bottom,#06ACD3, #0D99D3);
      }

      &.-left {
        bottom: 0;
        left: 0;
        .gradient_bgr(top,#1287D2, #1976D2);
      }

    }

    &:hover {
      background: @header_color;
    }

    &:hover .-top, &:hover .-bottom {
      width: 100%;
    }

    &:hover .-left, &:hover .-right {
      height: 100%;
    }
  }

}

.page_content{
  position: relative;
  padding-top: 80px;
}

.article_info{
  position: relative;
  float: none;
  color: #2D3A4B;
  margin: 230px auto 50px;
  height: auto;
  background: fade(#ffffff,95%);
  padding-bottom: 20px;

  .category_link{
    a{
      text-decoration: none;
      color: #7f919e;
      font-weight: bold;
      .transition_all(0.5s);

      &:hover{
        color: #2D3A4B;
      }
    }
  }

  .author_and_date{
      padding-top: 30px;
  }

  .date{
    line-height: 55px;
  }

  .author{
      .author_image{
        position: relative;
        float: left;
        margin-top: 3px;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border: 2px solid rgba(207, 207, 207, 0.7);
        border-radius: 50px;
        background-size: cover !important;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }

      .author_name{
        padding-left: 10px;
        line-height: 55px;
      }

  }


  .menu_border{
    position: absolute;
    left: 0;
  }

  .circle_image {
    position: absolute;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    display: block;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    z-index: 1000;
    .square_size(400px);

    .frame {
      display: block;
      border-radius: 50%;
      border: 15px solid fade(#fff, 35%);
      .square_size(400px);
    }
  }


  .text-content{
    position: relative;
    display: block;
    padding-top: 200px;
  }

}




.footer {
  width: 100%;
  display: block;
  background: @header_color;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: @light_color;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0px;
  z-index: 100;

  .creator {
    margin-top: 10px;
    text-transform: initial;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    .transition_all(0.5s);

    &:hover {
      text-shadow: 3px 3px 1px #252525;
      color: #fff;
    }
  }

}

.arrows {
  position: relative;
  width: 100%;

  &:before, &:after {
    margin-top: -10px;
    content: '';
    width: 0;
    display: block;
    position: absolute;
    height: 0;
    border-left: 15px solid transparent;
  }

  &:before {
    margin-left: 1.3%;
    border-bottom: 10px solid #00BCD4 - #444444;
  }

  &:after {
    right: 0;
    margin-right: 1.3%;
    border-left: none;
    border-bottom: 10px solid #1976D2 - #333333;
    border-right: 15px solid transparent;
  }
}

footer {
  z-index: 5000;

  .menu_border {
    .box_shadow(4px -3px 4px rgba(0, 0, 0, 0.3));
  }
}


//--------------------------helper classes-------------------------------//

.absolute {
  position: absolute;
}

.bottom10 {
  bottom: 10px;
}

.bottom20 {
  bottom: 20px;
}

.left0 {
  left: 0 !important;
}


.float-none{
  float: none;
}

.mt-50{
  margin-top: 50px !important;
}

.mt-20{
  margin-top: 20px;
}