.circle_image_size(@size){
  .article_info{
    margin-top: @size/2 - 20px;

    .circle_image{
      margin-top: -@size/2px;
      margin-left: -@size/2px;
      width:@size/1px;
      height: @size/1px;

      .frame {
        width:@size/1px;
        height: @size/1px;
      }
    }
    .text-content{
      padding-top: @size/2 - 40px;
    }
  }
}

@media (max-width: 940px){
  .mobile_menu_cont{
    display: block !important;
  }

  .navigation{
    display: none;
  }
  .circle_image_size(250);
}

@media (max-width: 770px){


  .article_info{
      .text-content{
        padding-top: 0px !important;

        h2{
          margin-top: 0px;
        }
      }
      .author_and_date{
        display: table;
        margin: auto;
        width: initial !important;
        padding-top: 120px;

        .author,.date{
          width: initial !important;
          float: left;
          text-align: center;
        }
      }

  }
}

@media (max-width: 600px){
  .circle_image_size(180);

  .author_and_date{
    padding-top: 90px !important;
  }
}


@media (max-width: 400px){

}