<nav class="navigation">
    <div id="nav_menu">
        <ul id="nav_content">
            <li ng-class="{ active: isActive('home')}">
                <a href="/home">
                    <span class="btn-border -left"></span>
                    Home
                    <span class="btn-border -right"></span>
                </a>
            </li>
            <li ng-class="{ active: isActive('article')}">
                <a href="/articles">
                    <span class="btn-border -left"></span>
                    Articles
                    <span class="btn-border -right"></span>
                </a>
                <ul class="sub_nav_content">
                    <li  ng-repeat="category in categories"
                         class="category_{{category.type_id}}"
                         ng-class="{ active: subIsActive(category.type_id)}"
                    ><a href="/articles/byCategory/{{category.type_id}}">{{category.name}}</a></li>
                </ul>
            </li>
            <li ng-class="{ active: isActive('gallery')}">
                <a href="#">
                    <span class="btn-border -left"></span>
                    Gallery
                    <span class="btn-border -right"></span>
                </a>
            </li>
            <li ng-class="{ active: isActive('video')}">
                <a href="#">
                    <span class="btn-border -left"></span>
                    Video
                    <span class="btn-border -right"></span>
                </a>
            </li>
            <li ng-class="{ active: isActive('about')}">
                <a href="#">
                    <span class="btn-border -left"></span>
                    About Us
                    <span class="btn-border -right"></span>
                </a>
            </li>
            <li ng-class="{ active: isActive('contact')}">
                <a href="/contact">
                    <span class="btn-border -left"></span>
                    Contact
                    <span class="btn-border -right"></span>
                </a>
            </li>
        </ul>
    </div>
    <span class='menu_border'></span>
</nav>
<div class='cover'></div>
<nav class="mobile_menu_cont">
    <img class='logo' src='' >
    <div class='mobile_open_but'>
        <section class='material-design-hamburger'>
            <a class="material-design-hamburger__icon">
                <span class="material-design-hamburger__layer"></span>
            </a>
        </section>
    </div>
    <div class="mobile_menu">
        <ul>
            <li ng-class="{ active: isActive('home')}">
                <a href='/home' class='mobile_menu_but'>
                    Home
                </a>
            </li>
            <li ng-class="{ active: isActive('article')}">
                <span class="sub_open_button open_articles">
                    <span class="sub_open_border"></span>
                    <span class="sub_open_arrow sub_left_arrow"></span>
                </span>
                <a href='/articles'  class='mobile_menu_but'>
                    Articles
                </a>
            </li>
            <li class="mob_with_sub hidden">
                <a ng-repeat="category in categories"
                   ng-class="{ active: subIsActive(category.type_id)}"
                   href="/articles/byCategory/{{category.type_id}}"
                   class="mobile_submenu_button category_{{category.type_id}}" >{{category.name}}</a>
            </li>

            <li ng-class="{ active: isActive('gallery')}">
                <a href="#">
                    Gallery
                </a>
            </li>
            <li ng-class="{ active: isActive('video')}">
                <a href="#">
                    Video
                </a>
            </li>
            <li ng-class="{ active: isActive('about')}">
                <a href="#">
                    About Us
                </a>
            </li>
            <li ng-class="{ active: isActive('contact')}">
                <a href="/contact">
                    Contact
                </a>
            </li>
        </ul>
    </div>
    <span class="right-border"></span>
</nav>