<div class="pagination" >
    <div class="link-container">
        <a class="prev">&#171</a>
        <div class="link-slide">
            <div class="slide-list">
                <a class='page_link link_no_{{i}}' data-ng-repeat="i in [] | range: count" ng-href="{{link + i}}">{{i}}</a>
            </div>
        </div>
        <a class="next">&#187</a>
    </div>
</div>