
<div class="short_info col-sm-6 col-md-{{size}} col-xs-12">
    <span class='circle_image' style="background-image: url('{{$root.apiUrl}}/public/uploads/{{post.image}}')">
        <span class="frame"></span>
    </span>
    <!--<span class='circle_image -back-shadow'></span>-->
    <div class="info_cont col-xs-12">
        <h3>{{post.title}}</h3>
        <p class="description">
            {{post.description}}
        </p>
        <div class="button-cont row absolute bottom20 col-xs-12">
            <a class="site-btn bottom" href="/article/{{post.post_id}}">
                <span class="btn-border -top"></span>
                <span class="btn-border -right"></span>
                <span class="btn-border -bottom"></span>
                <span class="btn-border -left"></span>

                <span class="button-text">Read</span>
            </a>
        </div>
        <span class='menu_border'></span>
    </div>
</div>
