<div class="my-slick-item col-md-12" ng-repeat="topArticle in toparticles">
    <img ng-src="{{$root.apiUrl}}/public/uploads/{{topArticle.image}}">
    <a href="#">
        <span>{{topArticle.title}}</span>
        <span class='menu_border'></span>
    </a>
</div>
