<div id="milkyway">
    <div class="stars"></div>
    <span class="planet mercury"></span>
    <span class="planet venus"></span>
    <span class="planet earth"></span>
    <span class="planet mars"></span>
    <span class="planet saturn"></span>
    <span class="planet jupiter"></span>
    <span class="planet uranus"></span>
    <span class="planet neptune"></span>
    <span class="planet pluto"></span>
</div>